# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
import random
import re
# import scrapy
import datetime as dt

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
resp = requests.get(url)

In [4]:
resp.status_code

200

In [6]:
html = resp.text

In [7]:
soup = BeautifulSoup(html, 'html.parser')

In [201]:
# Comento esta celda porque si no ocuparía muchísimo en el notebook

# print(soup)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [40]:
#your code
developers = soup.findAll('h1', attrs = {'class':"h3 lh-condensed"})

In [43]:
developers[0].text

'\n\n            Earle F. Philhower, III\n '

In [71]:
developers_list = [re.findall('\\n\\n\s*(.*)\\n', a.text)[0]  for a in developers]
developers_list

['Earle F. Philhower, III',
 'Jan De Dobbeleer',
 'Artem Zakharchenko',
 'David Tolnay',
 'Fabian Affolter',
 'Luke Edwards',
 'Dirkjan Ochtman',
 'Rich Harris',
 'Michael[tm] Smith',
 'Michael Lingelbach',
 'Claudéric Demers',
 'Robert Mosolgo',
 'Hans-Kristian Arntzen',
 '/rootzoll',
 'Remi Rousselet',
 'Daniel Wirtz',
 'Florian Märkl',
 'andig',
 'Mladen Macanović',
 'Razzeee',
 'Aimeos',
 'Lipis',
 'Josh Bleecher Snyder',
 'nukeop',
 'Ben Johnson']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [72]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [74]:
#your code
resp =  requests.get(url)

In [75]:
resp.status_code

200

In [77]:
html = requests.get(url).text

In [78]:
soup = BeautifulSoup(html, 'html.parser')

In [79]:
repos = soup.findAll('h1', attrs = {'class':"h3 lh-condensed"})

In [95]:
repos_list = [a.text.replace('\n', '').replace(' ','') for a in repos]
repos_list

['public-apis/public-apis',
 'davidbombal/red-python-scripts',
 'lucidrains/deep-daze',
 'davepl/Primes',
 'sebastianruder/NLP-progress',
 'TheAlgorithms/Python',
 'donnemartin/system-design-primer',
 'ticarpi/jwt_tool',
 '3b1b/manim',
 'freqtrade/freqtrade-strategies',
 'sqlmapproject/sqlmap',
 'swisskyrepo/PayloadsAllTheThings',
 'danpaquin/coinbasepro-python',
 'spotDL/spotify-downloader',
 'intel-isl/DPT',
 'freqtrade/freqtrade',
 'searx/searx',
 'kholia/OSX-KVM',
 'ReFirmLabs/binwalk',
 'gonzaarcr/Fildem',
 'SystemErrorWang/White-box-Cartoonization',
 'monosans/vk-slaves-bot',
 'quantopian/zipline',
 'sympy/sympy',
 'ytdl-org/youtube-dl']

#### Display all the image links from Walt Disney wikipedia page

In [202]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [203]:
#your code
resp = requests.get(url)
resp.status_code

200

In [204]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [205]:
pics = soup.findAll('img')

In [206]:
pics[0]

<img alt="This is a featured article. Click here for more information." data-file-height="438" data-file-width="462" decoding="async" height="19" src="//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/30px-Cscr-featured.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/40px-Cscr-featured.svg.png 2x" width="20"/>

In [208]:
pics_list = [a.get('src') for a in pics]

In [210]:
pics_list

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [76]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [77]:
#your code
resp = requests.get(url)
resp.status_code

200

In [78]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [92]:
spacelinks = soup.find('div', attrs={'id':'bodyContent'})

In [128]:
# Creamos la lista de páginas sobre Python en la Wikipedia
listpages = [f"{url}"+spacelinks.findAll('li')[x].find('a').get('href') for x in range(len(spacelinks.findAll('li')))
if not (spacelinks.findAll('li')[x].find('a').get('href').startswith('#')
        or spacelinks.findAll('li')[x].find('a').get('href').startswith('/wiki/Category:'))]
listpages

['https://en.wikipedia.org/wiki/Python/wiki/Pythons',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/Python/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/Python/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_Anghelo',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Python/wiki/Colt_Python',
 'https://en.wikipedia.org/wiki/Python/wiki/PYTHON',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/wiki/Python/wiki/Cython',
 'https://en.wikipedia.org/wiki/Python/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Python/wiki/Pithon']

In [131]:
# Entramos en una de las páginas anteriores al azar
resp2 = requests.get(listpages[random.randint(0, len(listpages))])
soup2 = BeautifulSoup(resp2.text, 'html.parser')

In [161]:
# Sacamos la lista de enlaces que empiecen por 'http'
links = []
for a in soup2.findAll():
    try:
        if a.get('href').startswith('http'):
            links.append(a.get('href'))
    except:
        pass
links

['https://en.wikipedia.org/wiki/Python/wiki/Python_(mythology)',
 'https://en.wiktionary.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikibooks.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikiquote.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikisource.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikiversity.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://commons.wikimedia.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikivoyage.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikinews.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://www.wikidata.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://species.wikimedia.org/wiki/Special:Search/Python/wiki/Python_(mythology)',
 'https://en.wikipedia.org/w/index.php?search=Python%2Fwiki%2FPython+%28mythology%29&title=Special%3ASearch&fulltext=1',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python%2Fwiki%2FPython+%28mythology%29',
 'https://en.wikipedia.org/w/index.php?search=Python%2Fwiki%2FPython+%28mythology%29&title=Special%3ASearch&fulltext=1&ns0=1',
 'https://en.wikipedia.org/w/index.php?search=Python%2Fwiki%2FPython+%28mythology%29&title=Special%3ASearch&fulltext=1',
 'https://en.wikipedia.org/w/index.php?title=Special:Log/delete&page=Python/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python/wiki/Python_(mythology)',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [138]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [140]:
#your code
resp = requests.get(url)
resp.status_code

200

In [141]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [146]:
titles = soup.findAll('div', attrs = {"class":"usctitlechanged"})

In [150]:
print(f'Number of Titles that have changed in the United States Code since its last release point: {len(titles)}')

Number of Titles that have changed in the United States Code since its last release point: 4

#### A Python list with the top ten FBI's Most Wanted names

In [154]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [155]:
#your code 
resp = requests.get(url)
resp.status_code

200

In [156]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [158]:
fbi = soup.findAll('h3', attrs = {'class':'title'})

In [161]:
fbi_list = [a.text.replace('\n','') for a in fbi]
fbi_list

['ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

##### 11 abril

In [215]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [216]:
#your code
resp = requests.get(url)
resp.status_code

200

In [217]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [218]:
odd = soup.findAll('tr', attrs = {'class':'ligne1 normal'})
even = soup.findAll('tr', attrs = {'class':'ligne2 normal'})
todas = odd + even

In [219]:
earthquakes_dict = [{'date': re.findall('\d{4}\-\d{2}\-\d{2}', x.text)[0],
  'time': re.findall('\d{2}\:\d{2}\:\d{2}', x.text)[0],
  'latitude': x.findAll('td', attrs={'class': 'tabev1'})[0].text[:-1] + ' ' + x.findAll('td', attrs={'class': 'tabev2'})[0].text[:-2],
    'longitude': x.findAll('td', attrs={'class': 'tabev1'})[1].text[:-1] + ' ' + x.findAll('td', attrs={'class': 'tabev2'})[1].text[:-2],
    'region_name': x.find('td', attrs={'class':'tb_region'}).text[1:]
} for x in todas   ]

In [220]:
df = pd.DataFrame(earthquakes_dict)

In [221]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

In [222]:
df_20 = df.sort_values('datetime', ascending=False).head(20).reset_index().drop('index', axis=1)

In [223]:
df_20

,date,time,latitude,longitude,region_name,datetime
0,2021-04-11,00:17:13,38.27 N,20.71 E,GREECE,2021-04-11 00:17:13
1,2021-04-11,00:12:30,8.72 N,84.12 W,OFF COAST OF COSTA RICA,2021-04-11 00:12:30
2,2021-04-11,00:04:20,19.25 N,155.42 W,"ISLAND OF HAWAII, HAWAII",2021-04-11 00:04:20
3,2021-04-11,00:03:07,23.09 S,68.75 W,"ANTOFAGASTA, CHILE",2021-04-11 00:03:07
4,2021-04-10,23:54:49,8.32 S,112.32 E,"JAVA, INDONESIA",2021-04-10 23:54:49
5,2021-04-10,23:47:28,24.18 S,67.01 W,"SALTA, ARGENTINA",2021-04-10 23:47:28
6,2021-04-10,23:33:15,34.42 S,179.15 E,SOUTH OF KERMADEC ISLANDS,2021-04-10 23:33:15
7,2021-04-10,23:22:30,18.43 N,69.29 W,DOMINICAN REPUBLIC REGION,2021-04-10 23:22:30
8,2021-04-10,23:15:38,38.28 N,20.73 E,GREECE,2021-04-10 23:15:38
9,2021-04-10,23:00:21,29.15 N,129.39 E,"RYUKYU ISLANDS, JAPAN",2021-04-10 23:00:21
10,2021-04-10,22:32:51,18.48 N,101.58 W,"GUERRERO, MEXICO",2021-04-10 22:32:51
11,2021-04-10,22:24:45,36.90 N,10.93 W,AZORES-CAPE ST. VINCENT RIDGE,2021-04-10 22:24:45
12,2021-04-10,22:24:39,37.38 S,179.94 E,"OFF E. COAST OF N. ISLAND, N.Z.",2021-04-10 22:24:39
13,2021-04-10,22:20:25,30.44 S,71.65 W,"COQUIMBO, CHILE",2021-04-10 22:20:25
14,2021-04-10,22:07:37,36.03 N,98.54 W,OKLAHOMA,2021-04-10 22:07:37
15,2021-04-10,22:07:21,36.48 N,27.16 E,DODECANESE IS.-TURKEY BORDER REG,2021-04-10 22:07:21
16,2021-04-10,21:55:25,20.48 S,69.11 W,"TARAPACA, CHILE",2021-04-10 21:55:25
17,2021-04-10,21:55:05,1.02 N,126.87 E,MOLUCCA SEA,2021-04-10 21:55:05
18,2021-04-10,21:49:37,28.25 N,67.34 E,PAKISTAN,2021-04-10 21:49:37
19,2021-04-10,21:35:28,66.35 N,157.29 W,NORTHERN ALASKA,2021-04-10 21:35:28

##### 29 marzo

In [333]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [334]:
#your code
resp = requests.get(url)
resp.status_code

200

In [335]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [337]:
odd = soup.findAll('tr', attrs = {'class':'ligne1 normal'})
even = soup.findAll('tr', attrs = {'class':'ligne2 normal'})
todas = odd + even

In [374]:
earthquakes_dict = [{'date': re.findall('\d{4}\-\d{2}\-\d{2}', x.text)[0],
  'time': re.findall('\d{2}\:\d{2}\:\d{2}', x.text)[0],
  'latitude': x.findAll('td', attrs={'class': 'tabev1'})[0].text[:-1] + ' ' + x.findAll('td', attrs={'class': 'tabev2'})[0].text[:-2],
    'longitude': x.findAll('td', attrs={'class': 'tabev1'})[1].text[:-1] + ' ' + x.findAll('td', attrs={'class': 'tabev2'})[1].text[:-2],
    'region_name': x.find('td', attrs={'class':'tb_region'}).text[1:]
} for x in todas   ]

In [ ]:
df = pd.DataFrame(earthquakes_dict)

In [391]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

In [403]:
df_20 = df.sort_values('datetime', ascending=False).head(20).reset_index().drop('index', axis=1)

In [404]:
df_20

,date,time,latitude,longitude,region_name,datetime
0,2021-03-29,14:38:22,15.28 N,91.78 W,GUATEMALA,2021-03-29 14:38:22
1,2021-03-29,14:31:41,19.15 N,155.49 W,"ISLAND OF HAWAII, HAWAII",2021-03-29 14:31:41
2,2021-03-29,13:57:26,39.84 N,21.92 E,GREECE,2021-03-29 13:57:26
3,2021-03-29,13:42:58,16.08 N,91.35 W,"CHIAPAS, MEXICO",2021-03-29 13:42:58
4,2021-03-29,13:35:26,7.01 N,126.74 E,"MINDANAO, PHILIPPINES",2021-03-29 13:35:26
5,2021-03-29,13:22:51,19.47 N,155.65 W,"ISLAND OF HAWAII, HAWAII",2021-03-29 13:22:51
6,2021-03-29,13:22:33,25.56 N,91.91 E,"MEGHALAYA, INDIA REGION",2021-03-29 13:22:33
7,2021-03-29,13:00:58,19.45 N,155.66 W,"ISLAND OF HAWAII, HAWAII",2021-03-29 13:00:58
8,2021-03-29,12:59:56,24.18 S,67.17 W,"SALTA, ARGENTINA",2021-03-29 12:59:56
9,2021-03-29,12:52:40,42.70 N,16.19 E,ADRIATIC SEA,2021-03-29 12:52:40
10,2021-03-29,12:45:53,38.27 N,38.77 E,EASTERN TURKEY,2021-03-29 12:45:53
11,2021-03-29,12:43:54,18.13 N,71.51 W,DOMINICAN REPUBLIC,2021-03-29 12:43:54
12,2021-03-29,12:10:53,36.41 N,7.87 W,STRAIT OF GIBRALTAR,2021-03-29 12:10:53
13,2021-03-29,11:53:14,28.15 S,67.20 W,"CATAMARCA, ARGENTINA",2021-03-29 11:53:14
14,2021-03-29,11:50:11,46.27 N,7.94 E,SWITZERLAND,2021-03-29 11:50:11
15,2021-03-29,11:25:12,18.87 S,69.58 W,"TARAPACA, CHILE",2021-03-29 11:25:12
16,2021-03-29,11:13:46,37.20 N,3.69 W,SPAIN,2021-03-29 11:13:46
17,2021-03-29,11:04:31,43.12 N,3.09 E,NEAR SOUTH COAST OF FRANCE,2021-03-29 11:04:31
18,2021-03-29,10:56:31,19.19 N,155.45 W,"ISLAND OF HAWAII, HAWAII",2021-03-29 10:56:31
19,2021-03-29,10:50:41,20.35 S,68.94 W,"TARAPACA, CHILE",2021-03-29 10:50:41

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [1]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [4]:
#your code
resp = requests.get(url)

In [6]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [8]:
soup.findAll('strong', attrs={'class': ''})

[<strong>English</strong>,
 <strong>EspaÃ±ol</strong>,
 <strong>æ¥æ¬èª</strong>,
 <strong>Deutsch</strong>,
 <strong>Ð ÑÑÑÐºÐ¸Ð¹</strong>,
 <strong>FranÃ§ais</strong>,
 <strong>Italiano</strong>,
 <strong>ä¸­æ</strong>,
 <strong>PortuguÃªs</strong>,
 <strong>Polski</strong>]

In [24]:
list_languages = [a.text for a in soup.findAll('strong', attrs={'class': ''})]
list_languages

['English',
 'EspaÃ±ol',
 'æ\x97¥æ\x9c¬èª\x9e',
 'Deutsch',
 'Ð\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹',
 'FranÃ§ais',
 'Italiano',
 'ä¸\xadæ\x96\x87',
 'PortuguÃªs',
 'Polski']

#### A list with the different kind of datasets available in data.gov.uk

In [25]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [26]:
#your code 
resp = requests.get(url)

In [27]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [35]:
uk_data = [a.text for a in soup.findAll('h3', attrs={'class': 'govuk-heading-s dgu-topics__heading'})]
uk_data

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [211]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [212]:
#your code
# Sacamos todas las tablas de la página con pd.read_html(url)
tables = pd.read_html(url)

In [213]:
# Nos interesa la 2ª tabla
tables[1].head(3)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic

In [214]:
top_10_languages = tables[1].sort_values('Rank').head(10)
top_10_languages

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
5,6,Portuguese,221.0,2.870%,Indo-European,Romance
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [3]:
resp = requests.get(url)

In [4]:
resp.status_code

200

In [5]:
html = resp.text

In [6]:
soup = BeautifulSoup(html, 'html.parser')

In [38]:
# Movie name
soup.findAll('td', attrs={'class': 'titleColumn'})[1].find('a').text

'El padrino'

In [56]:
# Initial release
int(soup.findAll('td', attrs={'class': 'titleColumn'})[1].find('span').text.replace('(','').replace(')',''))

1972

In [50]:
# Director
re.findall('(.*) \(dir\.\)', soup.findAll('td', attrs={'class': 'titleColumn'})[0].find('a').get_attribute_list('title')[0])[0]

'Frank Darabont'

In [61]:
# Stars
float(soup.findAll('td', attrs={'class': 'ratingColumn imdbRating'})[1].find('strong').text)

9.1

In [62]:
movies_dict = [{'name': soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('a').text,
'release': int(soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('span').text.replace('(','').replace(')','')),
'director': re.findall('(.*) \(dir\.\)', soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('a').get_attribute_list('title')[0])[0],
'stars': float(soup.findAll('td', attrs={'class': 'ratingColumn imdbRating'})[x].find('strong').text)
}for x in range(250)]

In [70]:
df_movies = pd.DataFrame(movies_dict)

In [72]:
df_movies.head(5)

                    name  release              director  stars
0        Cadena perpetua     1994        Frank Darabont    9.2
1             El padrino     1972  Francis Ford Coppola    9.1
2   El padrino: Parte II     1974  Francis Ford Coppola    9.0
3    El caballero oscuro     2008     Christopher Nolan    9.0
4  12 hombres sin piedad     1957          Sidney Lumet    8.9

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [80]:
# Link
soup.findAll('td', attrs={'class': 'titleColumn'})[0].find('a').get_attribute_list('href')[0]

'/title/tt0111161/'

In [81]:
# Hacemos un nuevo df con el top 10 de pelis

moviestop10_dict = [{'name': soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('a').text,
'year': int(soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('span').text.replace('(','').replace(')','')),
'link': soup.findAll('td', attrs={'class': 'titleColumn'})[x].find('a').get_attribute_list('href')[0]
}for x in range(10)]

In [83]:
top10 = pd.DataFrame(moviestop10_dict)

In [84]:
top10

                                               name  year               link
0                                   Cadena perpetua  1994  /title/tt0111161/
1                                        El padrino  1972  /title/tt0068646/
2                              El padrino: Parte II  1974  /title/tt0071562/
3                               El caballero oscuro  2008  /title/tt0468569/
4                             12 hombres sin piedad  1957  /title/tt0050083/
5                             La lista de Schindler  1993  /title/tt0108052/
6       El señor de los anillos: El retorno del rey  2003  /title/tt0167260/
7                                      Pulp Fiction  1994  /title/tt0110912/
8                        El bueno, el feo y el malo  1966  /title/tt0060196/
9  El señor de los anillos: La comunidad del anillo  2001  /title/tt0120737/

In [103]:
# Iteramos a través del df para añadir la descripción haciendo request de cada link

for i,c in top10.iterrows():
    soup2 = BeautifulSoup(requests.get(f"https://www.imdb.com{c['link']}").text, 'html.parser')
    a = soup2.find('div', attrs={"class":"summary_text"}).text.replace('\n','')
    top10.loc[i, 'description'] = re.sub('^(\s*)|(\s*)$','',a)

In [110]:
# Eliminando la columna 'link' ya tendríamos el df deseado

top10.drop('link', axis=1, inplace=True)

In [111]:
top10

,name,year,description
0,Cadena perpetua,1994,Two imprisoned men bond over a number of years...
1,El padrino,1972,An organized crime dynasty's aging patriarch t...
2,El padrino: Parte II,1974,The early life and career of Vito Corleone in ...
3,El caballero oscuro,2008,When the menace known as the Joker wreaks havo...
4,12 hombres sin piedad,1957,A jury holdout attempts to prevent a miscarria...
5,La lista de Schindler,1993,"In German-occupied Poland during World War II,..."
6,El señor de los anillos: El retorno del rey,2003,Gandalf and Aragorn lead the World of Men agai...
7,Pulp Fiction,1994,"The lives of two mob hitmen, a boxer, a gangst..."
8,"El bueno, el feo y el malo",1966,A bounty hunting scam joins two men in an unea...
9,El señor de los anillos: La comunidad del anillo,2001,A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [3]:
def weather_report():
    """
    Returns a weather report of a given city in a pandas DataFrame format.
    """
    
    url = 'http://api.openweathermap.org/data/2.5/weather'
    
    languages_list = ['pt_br','zh_cn','zh_tw','af','al','ar','az','bg','ca','cz','da','de','el','en','eu','fa','fi',
    'fr','gl','he','hi','hr','hu','id','it','ja','kr','la','lt','mk','no','nl','pl','pt','ro','ru','sv','se','sk',
    'sl','sp','es','sr','th','tr','ua','uk','vi','zu']
    
    filename = '../../../tokens/openweathermap.txt'
    with open(filename, 'r') as f:
        token = f.read()
    
    while True:
        try:
            cityname = input('Enter the city: ')
            if not requests.get(url, params = {'q': cityname, 'appid': token}).status_code == 200:
                raise ValueError
            break
        except:
            print('The city is not available. Try again.')
 
    while True:
        try:
            lang = input('Enter the language in 2 digit code for the description: ')
            if lang not in languages_list:
                raise ValueError
            break
        except:
            print(f'The language code is not available. Try again with one of the following languages \n {languages_list}')
    
    
    resp = requests.get(url, params = {'q': cityname, 'appid': token, 'lang': lang})
        
    return pd.DataFrame([{
        'city': resp.json()['name'],
        'temp_celsius': round(resp.json()['main']['temp']-273, 1),
        'wind_speed': resp.json()['wind']['speed'],
        'humidity': resp.json()['main']['humidity'],
        'main': resp.json()['weather'][0]['main'],
        'description': resp.json()['weather'][0]['description']
        
    }]).set_index('city')

In [4]:
weather_report()

Enter the city: Fake city
The city is not available. Try again.
Enter the city: Pontevedra
Enter the language in 2 digit code for the description: Fake language
The language code is not available. Try again with one of the following languages
 ['pt_br', 'zh_cn', 'zh_tw', 'af', 'al', 'ar', 'az', 'bg', 'ca', 'cz', 'da', 'de', 'el', 'en', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hu', 'id', 'it', 'ja', 'kr', 'la', 'lt', 'mk', 'no', 'nl', 'pl', 'pt', 'ro', 'ru', 'sv', 'se', 'sk', 'sl', 'sp', 'es', 'sr', 'th', 'tr', 'ua', 'uk', 'vi', 'zu']
Enter the language in 2 digit code for the description: gl

            temp_celsius  wind_speed  humidity   main description
city
Pontevedra          13.8        6.17        54  Clear   ceo claro

#### Book name,price and stock availability as a pandas dataframe.

In [112]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [113]:
soup3 = BeautifulSoup(requests.get(f"{url}catalogue/page-1.html").text, 'html.parser')

In [120]:
books =  soup3.findAll('article', attrs={'class': 'product_pod'})

In [149]:
#book - tenemos que sacarlo de 'img' porque en 
books[0].find('h3').find('a').get('title')

'A Light in the Attic'

In [154]:
#price
float(books[0].find('p', attrs={'class': 'price_color'}).text[2:])

51.77

In [163]:
#stock availability
books[0].find('p', attrs={'class': 'instock availability'}).text.replace('\n','')

'            In stock    '

In [164]:
re.sub('^(\s*)|(\s*)$','',books[0].find('p', attrs={'class': 'instock availability'}).text.replace('\n',''))

'In stock'

In [192]:
books_dict = []
for n in range(int(1000/20)):
    soup3 = BeautifulSoup(requests.get(f"{url}catalogue/page-{n}.html").text, 'html.parser')
    books =  soup3.findAll('article', attrs={'class': 'product_pod'})
    for x in books:
        books_dict.append({'name': x.find('h3').find('a').get('title'),
                        'price': float(x.find('p', attrs={'class': 'price_color'}).text[2:]),
                        'stock_availability': re.sub('^(\s*)|(\s*)$','',books[0].find('p', attrs={'class': 'instock availability'}).text.replace('\n',''))})

In [197]:
books = pd.DataFrame(books_dict)

In [198]:
books.shape

(980, 3)

In [200]:
books.head(5)

                                    name  price stock_availability
0                   A Light in the Attic  51.77           In stock
1                     Tipping the Velvet  53.74           In stock
2                             Soumission  50.10           In stock
3                          Sharp Objects  47.82           In stock
4  Sapiens: A Brief History of Humankind  54.23           In stock